<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <style>
        body{background-image:url("{{ asset('bg.jpg') }}");background-size: cover;margin: 15%; margin-top: 5%; width: 500px;}
        h1{text-align: center;}
        form {width:100%;padding: 10px;border: 1px solid #f1f1f1;background: rgba(0, 191, 255, 0.5);box-shadow: 0 0 20px 0 rgba(0, 191, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
        .container h1{width: 38%;margin: 0 auto;padding-bottom: 10px;}
        input[type=text], input[type=password], th, td {width: 100%;padding: 10px 2px;margin: 10px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;height: 70px;}
        input[type=submit] {background-color: #B0C4DE;color: white;padding: 14px 20px;margin: 8px 0;border: none;cursor: pointer;width: 100%;}
        input[type=submit]:hover {background-color: rgba(0, 191, 255, 0.2);color: #B0C4DE;border: 1px solid #B0C4DE;}
        tr{display: flex; background: rgba(0, 191, 255, 0.2);} table{width: 500px;text-align: center;margin-left: 10%} th{width: 150px;} ul{list-style: none}
        li{margin:1%}
        a{text-decoration:none;margin:5%;width:100%;border: 1px solid #f1f1f1;background: rgba(0, 191, 255, 0.5);box-shadow: 0 0 20px 0 rgba(0, 191, 255, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
    </style>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
